.bbd{
display: flex;
flex-direction: column;
}
.bhh{display:flex; flex-direction:column}
.pr1{
order: 1;}
.pr2{
order: 3;}
.pr3{
order: 2;}
@media screen and (min-width:521px) {
.bbd{
flex-direction: row;
}
.bbd div{
margin: 10px;
}
.pr1{
order: 1;}
.pr2{
order: 2;}
.pr3{
order: 3;}
}

a{
color:#000000;
font-wight:bold;
}

div.db{
width:100%;
background-color:#567234;
padding: 5px;
height:110px;
}

div.bl{
max-width:960px;
background-color:#00aaff;
margin: 0 auto;
margin-top:20px;
padding:10px;
}

img.fi{
float:left;
margin:10px;
width:100px;
height:100px;
}

td.dl1{
background-color:#234234;
}
td.dl2{
background-color:#878234;
}